src/main/xsd/book.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.locuswms.com/xmlhostcom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:string" name="format" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="fileID"/>
            <xs:attribute type="xs:string" name="msgID"/>
            <xs:attribute type="xs:string" name="test"/>
            <xs:attribute type="xs:string" name="destination"/>
            <xs:attribute type="xs:string" name="fromsys"/>
            <xs:attribute type="xs:string" name="tosys"/>
            <xs:attribute type="xs:string" name="timestamp"/>
        </xs:complexType>
    </xs:element>
</xs:schema>